{
  "openapi": "3.1.0",
  "info": {
    "title": "mnml API",
    "version": "1.0.0",
    "description": "Architecture rendering on the mnml engines. Every call spends credits from your prepaid API balance, topped up in dollars at developers.mnml.ai.",
    "contact": {
      "name": "mnml developers",
      "url": "https://developers.mnml.ai/contact"
    }
  },
  "servers": [
    {
      "url": "https://api.mnml.ai"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Meta"
    },
    {
      "name": "Account"
    },
    {
      "name": "Engines"
    },
    {
      "name": "Uploads"
    },
    {
      "name": "Renders"
    },
    {
      "name": "Edits"
    },
    {
      "name": "Enhancements"
    },
    {
      "name": "Videos"
    },
    {
      "name": "Jobs"
    },
    {
      "name": "Legacy"
    }
  ],
  "paths": {
    "/v1/openapi.json": {
      "get": {
        "operationId": "getOpenApi",
        "summary": "This API description, as OpenAPI 3.1.",
        "tags": [
          "Meta"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The OpenAPI document.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "The key's account: balance, tier, this key's settings and the limits in force.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "The account.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "tier": {
                          "type": "string",
                          "enum": [
                            "free",
                            "paid"
                          ]
                        },
                        "credits": {
                          "type": "object",
                          "properties": {
                            "spendable": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            }
                          },
                          "required": [
                            "spendable"
                          ]
                        },
                        "key": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "allowed_origins": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "daily_credit_limit": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "allowed_origins",
                            "daily_credit_limit"
                          ]
                        },
                        "limits": {
                          "type": "object",
                          "properties": {
                            "scope": {
                              "type": "string",
                              "enum": [
                                "account",
                                "key"
                              ]
                            },
                            "requests_per_minute": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "reads_per_minute": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "concurrent_jobs": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "daily_credits": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "scope",
                            "requests_per_minute",
                            "reads_per_minute",
                            "concurrent_jobs",
                            "daily_credits"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "name",
                        "tier",
                        "credits",
                        "key",
                        "limits"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/engines": {
      "get": {
        "operationId": "listEngines",
        "summary": "The engines this key can render on, with their credit prices.",
        "tags": [
          "Engines"
        ],
        "responses": {
          "200": {
            "description": "Every engine, primary first.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "engines": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "tier": {
                                "type": "string",
                                "enum": [
                                  "primary",
                                  "legacy"
                                ]
                              },
                              "default": {
                                "type": "boolean"
                              },
                              "paid_only": {
                                "type": "boolean"
                              },
                              "available": {
                                "type": "boolean"
                              },
                              "prices": {
                                "type": "object",
                                "properties": {
                                  "render": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "edit": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  }
                                },
                                "required": [
                                  "render",
                                  "edit"
                                ]
                              },
                              "capabilities": {
                                "type": "object",
                                "properties": {
                                  "text_to_render": {
                                    "type": "boolean"
                                  },
                                  "masks": {
                                    "type": "boolean"
                                  },
                                  "edit_references": {
                                    "type": "boolean"
                                  },
                                  "max_references": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  }
                                },
                                "required": [
                                  "text_to_render",
                                  "masks",
                                  "edit_references",
                                  "max_references"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "tier",
                              "default",
                              "paid_only",
                              "available",
                              "prices",
                              "capabilities"
                            ]
                          }
                        },
                        "video_models": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "default": {
                                "type": "boolean"
                              },
                              "available": {
                                "type": "boolean"
                              },
                              "prices": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "duration_seconds": {
                                      "anyOf": [
                                        {
                                          "type": "integer",
                                          "minimum": -9007199254740991,
                                          "maximum": 9007199254740991
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "credits": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    }
                                  },
                                  "required": [
                                    "duration_seconds",
                                    "credits"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "default",
                              "available",
                              "prices"
                            ]
                          }
                        }
                      },
                      "required": [
                        "engines",
                        "video_models"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/uploads": {
      "post": {
        "operationId": "createUpload",
        "summary": "Optional: upload an image once to use in several calls (every call also takes its image inline). A multipart \"file\", or JSON { url } that we fetch. It is kept 24 hours, then deleted, and never appears in your mnml library. The same image twice is the same upload.",
        "tags": [
          "Uploads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "purpose": {
                    "type": "string",
                    "enum": [
                      "image",
                      "mask"
                    ]
                  }
                },
                "required": [
                  "file"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "purpose": {
                    "type": "string",
                    "enum": [
                      "image",
                      "mask"
                    ]
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The upload. Pass its id as upload_id.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "width": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "height": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "size_bytes": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "purpose": {
                          "type": "string",
                          "enum": [
                            "image",
                            "mask"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "width",
                        "height",
                        "size_bytes",
                        "purpose",
                        "created_at"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/renders": {
      "post": {
        "operationId": "createRender",
        "summary": "Start a render. Send the image in the same call: a link, base64, or the file itself as multipart form data. Charged at the engine price when it starts; a failed render is refunded.",
        "tags": [
          "Renders"
        ],
        "parameters": [
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "description": "Hold the answer up to this many seconds (1 to 90) while the render runs, and answer with the finished jobs in `jobs`. Still running when the time is up: a 202; read the job with GET /v1/jobs/{id}?wait=90 until it settles.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 90
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "engine": {
                    "type": "string",
                    "maxLength": 40
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "exterior",
                      "interior",
                      "masterplan",
                      "plan",
                      "landscape",
                      "product",
                      "text-to-render"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4000
                  },
                  "image": {
                    "description": "The image: a public https:// link, a data:image/…;base64, URI or base64 bytes, or (multipart) the file itself.",
                    "type": "string",
                    "minLength": 1
                  },
                  "image_url": {
                    "deprecated": true,
                    "description": "Same as image.",
                    "type": "string",
                    "minLength": 1
                  },
                  "upload_id": {
                    "description": "An image from POST /v1/uploads, to reuse one image.",
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "job_id": {
                    "description": "A finished job of yours: work on its output without downloading it.",
                    "type": "string",
                    "pattern": "^\\d{1,18}$"
                  },
                  "references": {
                    "maxItems": 15,
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 1
                        },
                        {
                          "type": "object",
                          "properties": {
                            "image": {
                              "description": "The image: a public https:// link, a data:image/…;base64, URI or base64 bytes, or (multipart) the file itself.",
                              "type": "string",
                              "minLength": 1
                            },
                            "image_url": {
                              "deprecated": true,
                              "description": "Same as image.",
                              "type": "string",
                              "minLength": 1
                            },
                            "upload_id": {
                              "description": "An image from POST /v1/uploads, to reuse one image.",
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "job_id": {
                              "description": "A finished job of yours: work on its output without downloading it.",
                              "type": "string",
                              "pattern": "^\\d{1,18}$"
                            },
                            "mode": {
                              "type": "string",
                              "enum": [
                                "auto",
                                "style",
                                "material",
                                "atmosphere",
                                "color",
                                "geometry"
                              ]
                            }
                          },
                          "additionalProperties": false
                        }
                      ]
                    }
                  },
                  "settings": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "maxLength": 40
                    },
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 320
                    }
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "1:1",
                      "3:2",
                      "4:3",
                      "5:4",
                      "16:9",
                      "21:9",
                      "2:3",
                      "3:4",
                      "4:5",
                      "9:16"
                    ]
                  },
                  "count": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 4
                  },
                  "seed": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "webhook_url": {
                    "description": "A public https:// URL to send this job’s settle event to, signed like every webhook.",
                    "type": "string",
                    "maxLength": 2048,
                    "format": "uri"
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": false
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "engine": {
                    "type": "string",
                    "maxLength": 40
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "exterior",
                      "interior",
                      "masterplan",
                      "plan",
                      "landscape",
                      "product",
                      "text-to-render"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4000
                  },
                  "image": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "binary"
                      },
                      {
                        "description": "The image: a public https:// link, a data:image/…;base64, URI or base64 bytes, or (multipart) the file itself.",
                        "type": "string",
                        "minLength": 1
                      }
                    ]
                  },
                  "image_url": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "binary"
                      },
                      {
                        "deprecated": true,
                        "description": "Same as image.",
                        "type": "string",
                        "minLength": 1
                      }
                    ],
                    "deprecated": true
                  },
                  "upload_id": {
                    "description": "An image from POST /v1/uploads, to reuse one image.",
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "job_id": {
                    "description": "A finished job of yours: work on its output without downloading it.",
                    "type": "string",
                    "pattern": "^\\d{1,18}$"
                  },
                  "references": {
                    "maxItems": 15,
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "binary"
                        },
                        {
                          "anyOf": [
                            {
                              "type": "string",
                              "minLength": 1
                            },
                            {
                              "type": "object",
                              "properties": {
                                "image": {
                                  "description": "The image: a public https:// link, a data:image/…;base64, URI or base64 bytes, or (multipart) the file itself.",
                                  "type": "string",
                                  "minLength": 1
                                },
                                "image_url": {
                                  "deprecated": true,
                                  "description": "Same as image.",
                                  "type": "string",
                                  "minLength": 1
                                },
                                "upload_id": {
                                  "description": "An image from POST /v1/uploads, to reuse one image.",
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                },
                                "job_id": {
                                  "description": "A finished job of yours: work on its output without downloading it.",
                                  "type": "string",
                                  "pattern": "^\\d{1,18}$"
                                },
                                "mode": {
                                  "type": "string",
                                  "enum": [
                                    "auto",
                                    "style",
                                    "material",
                                    "atmosphere",
                                    "color",
                                    "geometry"
                                  ]
                                }
                              },
                              "additionalProperties": false
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "settings": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "maxLength": 40
                    },
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 320
                    }
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "1:1",
                      "3:2",
                      "4:3",
                      "5:4",
                      "16:9",
                      "21:9",
                      "2:3",
                      "3:4",
                      "4:5",
                      "9:16"
                    ]
                  },
                  "count": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 4
                  },
                  "seed": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "webhook_url": {
                    "description": "A public https:// URL to send this job’s settle event to, signed like every webhook.",
                    "type": "string",
                    "maxLength": 2048,
                    "format": "uri"
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Finished, within ?wait: every job, with its outputs, is in jobs.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "ids": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "status": {
                          "type": "string"
                        },
                        "credits_charged": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "replayed": {
                          "type": "boolean"
                        },
                        "notes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "jobs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "queued",
                                  "processing",
                                  "succeeded",
                                  "failed",
                                  "canceled"
                                ]
                              },
                              "kind": {
                                "type": "string"
                              },
                              "engine": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "outputs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string"
                                    },
                                    "media": {
                                      "type": "string",
                                      "enum": [
                                        "image",
                                        "video"
                                      ]
                                    },
                                    "expires_at": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "url",
                                    "media",
                                    "expires_at"
                                  ]
                                }
                              },
                              "credits_charged": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "credits_refunded": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "error": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "type": "string",
                                        "enum": [
                                          "UNSAFE_CONTENT",
                                          "NO_CHANGE",
                                          "CANCELED",
                                          "RENDER_FAILED"
                                        ]
                                      },
                                      "message": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "code",
                                      "message"
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "completed_at": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "status",
                              "kind",
                              "engine",
                              "outputs",
                              "credits_charged",
                              "credits_refunded",
                              "error",
                              "created_at",
                              "completed_at"
                            ]
                          }
                        }
                      },
                      "required": [
                        "id",
                        "ids",
                        "status",
                        "credits_charged",
                        "replayed",
                        "notes"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "202": {
            "description": "Started. Poll GET /v1/jobs/{id} for the result.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "ids": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "status": {
                          "type": "string"
                        },
                        "credits_charged": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "replayed": {
                          "type": "boolean"
                        },
                        "notes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "jobs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "queued",
                                  "processing",
                                  "succeeded",
                                  "failed",
                                  "canceled"
                                ]
                              },
                              "kind": {
                                "type": "string"
                              },
                              "engine": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "outputs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string"
                                    },
                                    "media": {
                                      "type": "string",
                                      "enum": [
                                        "image",
                                        "video"
                                      ]
                                    },
                                    "expires_at": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "url",
                                    "media",
                                    "expires_at"
                                  ]
                                }
                              },
                              "credits_charged": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "credits_refunded": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "error": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "type": "string",
                                        "enum": [
                                          "UNSAFE_CONTENT",
                                          "NO_CHANGE",
                                          "CANCELED",
                                          "RENDER_FAILED"
                                        ]
                                      },
                                      "message": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "code",
                                      "message"
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "completed_at": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "status",
                              "kind",
                              "engine",
                              "outputs",
                              "credits_charged",
                              "credits_refunded",
                              "error",
                              "created_at",
                              "completed_at"
                            ]
                          }
                        }
                      },
                      "required": [
                        "id",
                        "ids",
                        "status",
                        "credits_charged",
                        "replayed",
                        "notes"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/edits": {
      "post": {
        "operationId": "createEdit",
        "summary": "Change one thing on an image and keep the rest, on the whole image or an area; or erase what an area covers. Charged when it starts; refunded if it fails.",
        "tags": [
          "Edits"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "edit",
                      "erase"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4000
                  },
                  "image": {
                    "description": "The image: a public https:// link, a data:image/…;base64, URI or base64 bytes, or (multipart) the file itself.",
                    "type": "string",
                    "minLength": 1
                  },
                  "image_url": {
                    "deprecated": true,
                    "description": "Same as image.",
                    "type": "string",
                    "minLength": 1
                  },
                  "upload_id": {
                    "description": "An image from POST /v1/uploads, to reuse one image.",
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "job_id": {
                    "description": "A finished job of yours: work on its output without downloading it.",
                    "type": "string",
                    "pattern": "^\\d{1,18}$"
                  },
                  "engine": {
                    "type": "string",
                    "maxLength": 40
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "exterior",
                      "interior",
                      "masterplan",
                      "plan",
                      "landscape",
                      "product",
                      "text-to-render"
                    ]
                  },
                  "references": {
                    "maxItems": 15,
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 1
                        },
                        {
                          "type": "object",
                          "properties": {
                            "image": {
                              "description": "The image: a public https:// link, a data:image/…;base64, URI or base64 bytes, or (multipart) the file itself.",
                              "type": "string",
                              "minLength": 1
                            },
                            "image_url": {
                              "deprecated": true,
                              "description": "Same as image.",
                              "type": "string",
                              "minLength": 1
                            },
                            "upload_id": {
                              "description": "An image from POST /v1/uploads, to reuse one image.",
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "job_id": {
                              "description": "A finished job of yours: work on its output without downloading it.",
                              "type": "string",
                              "pattern": "^\\d{1,18}$"
                            },
                            "mode": {
                              "type": "string",
                              "enum": [
                                "auto",
                                "style",
                                "material",
                                "atmosphere",
                                "color",
                                "geometry"
                              ]
                            }
                          },
                          "additionalProperties": false
                        }
                      ]
                    }
                  },
                  "region": {
                    "type": "object",
                    "properties": {
                      "box": {
                        "description": "x, y of the top-left corner, width, height; all 0–1.",
                        "type": "object",
                        "properties": {
                          "x": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                          },
                          "y": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                          },
                          "width": {
                            "type": "number",
                            "exclusiveMinimum": 0,
                            "maximum": 1
                          },
                          "height": {
                            "type": "number",
                            "exclusiveMinimum": 0,
                            "maximum": 1
                          }
                        },
                        "required": [
                          "x",
                          "y",
                          "width",
                          "height"
                        ]
                      },
                      "polygon": {
                        "description": "An outline of [x, y] points, 0–1.",
                        "minItems": 3,
                        "maxItems": 64,
                        "type": "array",
                        "items": {
                          "type": "array",
                          "prefixItems": [
                            {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 1
                            },
                            {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 1
                            }
                          ],
                          "items": false,
                          "minItems": 2,
                          "maxItems": 2
                        }
                      }
                    },
                    "description": "The area, in fractions of the image from the top-left."
                  },
                  "mask": {
                    "type": "string",
                    "minLength": 1
                  },
                  "mask_upload_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "webhook_url": {
                    "description": "A public https:// URL to send this job’s settle event to, signed like every webhook.",
                    "type": "string",
                    "maxLength": 2048,
                    "format": "uri"
                  }
                },
                "additionalProperties": false
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "edit",
                      "erase"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4000
                  },
                  "image": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "binary"
                      },
                      {
                        "description": "The image: a public https:// link, a data:image/…;base64, URI or base64 bytes, or (multipart) the file itself.",
                        "type": "string",
                        "minLength": 1
                      }
                    ]
                  },
                  "image_url": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "binary"
                      },
                      {
                        "deprecated": true,
                        "description": "Same as image.",
                        "type": "string",
                        "minLength": 1
                      }
                    ],
                    "deprecated": true
                  },
                  "upload_id": {
                    "description": "An image from POST /v1/uploads, to reuse one image.",
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "job_id": {
                    "description": "A finished job of yours: work on its output without downloading it.",
                    "type": "string",
                    "pattern": "^\\d{1,18}$"
                  },
                  "engine": {
                    "type": "string",
                    "maxLength": 40
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "exterior",
                      "interior",
                      "masterplan",
                      "plan",
                      "landscape",
                      "product",
                      "text-to-render"
                    ]
                  },
                  "references": {
                    "maxItems": 15,
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "binary"
                        },
                        {
                          "anyOf": [
                            {
                              "type": "string",
                              "minLength": 1
                            },
                            {
                              "type": "object",
                              "properties": {
                                "image": {
                                  "description": "The image: a public https:// link, a data:image/…;base64, URI or base64 bytes, or (multipart) the file itself.",
                                  "type": "string",
                                  "minLength": 1
                                },
                                "image_url": {
                                  "deprecated": true,
                                  "description": "Same as image.",
                                  "type": "string",
                                  "minLength": 1
                                },
                                "upload_id": {
                                  "description": "An image from POST /v1/uploads, to reuse one image.",
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                },
                                "job_id": {
                                  "description": "A finished job of yours: work on its output without downloading it.",
                                  "type": "string",
                                  "pattern": "^\\d{1,18}$"
                                },
                                "mode": {
                                  "type": "string",
                                  "enum": [
                                    "auto",
                                    "style",
                                    "material",
                                    "atmosphere",
                                    "color",
                                    "geometry"
                                  ]
                                }
                              },
                              "additionalProperties": false
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "region": {
                    "type": "object",
                    "properties": {
                      "box": {
                        "description": "x, y of the top-left corner, width, height; all 0–1.",
                        "type": "object",
                        "properties": {
                          "x": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                          },
                          "y": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                          },
                          "width": {
                            "type": "number",
                            "exclusiveMinimum": 0,
                            "maximum": 1
                          },
                          "height": {
                            "type": "number",
                            "exclusiveMinimum": 0,
                            "maximum": 1
                          }
                        },
                        "required": [
                          "x",
                          "y",
                          "width",
                          "height"
                        ]
                      },
                      "polygon": {
                        "description": "An outline of [x, y] points, 0–1.",
                        "minItems": 3,
                        "maxItems": 64,
                        "type": "array",
                        "items": {
                          "type": "array",
                          "prefixItems": [
                            {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 1
                            },
                            {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 1
                            }
                          ],
                          "items": false,
                          "minItems": 2,
                          "maxItems": 2
                        }
                      }
                    },
                    "description": "The area, in fractions of the image from the top-left."
                  },
                  "mask": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "binary"
                      },
                      {
                        "type": "string",
                        "minLength": 1
                      }
                    ]
                  },
                  "mask_upload_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "webhook_url": {
                    "description": "A public https:// URL to send this job’s settle event to, signed like every webhook.",
                    "type": "string",
                    "maxLength": 2048,
                    "format": "uri"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Started. Poll GET /v1/jobs/{id} for the result.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "credits_charged": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "replayed": {
                          "type": "boolean"
                        },
                        "notes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "credits_charged",
                        "replayed",
                        "notes"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/enhancements": {
      "post": {
        "operationId": "createEnhancement",
        "summary": "Upscale, enhance, cut out (bg-remove) or extend (outpaint) an image. Upscale, enhance and outpaint need an account that has paid.",
        "tags": [
          "Enhancements"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "upscale",
                      "enhance",
                      "bg-remove",
                      "outpaint"
                    ]
                  },
                  "image": {
                    "description": "The image: a public https:// link, a data:image/…;base64, URI or base64 bytes, or (multipart) the file itself.",
                    "type": "string",
                    "minLength": 1
                  },
                  "image_url": {
                    "deprecated": true,
                    "description": "Same as image.",
                    "type": "string",
                    "minLength": 1
                  },
                  "upload_id": {
                    "description": "An image from POST /v1/uploads, to reuse one image.",
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "job_id": {
                    "description": "A finished job of yours: work on its output without downloading it.",
                    "type": "string",
                    "pattern": "^\\d{1,18}$"
                  },
                  "creativity": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4000
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "1:1",
                      "3:2",
                      "4:3",
                      "5:4",
                      "16:9",
                      "21:9",
                      "2:3",
                      "3:4",
                      "4:5",
                      "9:16"
                    ]
                  },
                  "webhook_url": {
                    "description": "A public https:// URL to send this job’s settle event to, signed like every webhook.",
                    "type": "string",
                    "maxLength": 2048,
                    "format": "uri"
                  }
                },
                "required": [
                  "kind"
                ],
                "additionalProperties": false
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "upscale",
                      "enhance",
                      "bg-remove",
                      "outpaint"
                    ]
                  },
                  "image": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "binary"
                      },
                      {
                        "description": "The image: a public https:// link, a data:image/…;base64, URI or base64 bytes, or (multipart) the file itself.",
                        "type": "string",
                        "minLength": 1
                      }
                    ]
                  },
                  "image_url": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "binary"
                      },
                      {
                        "deprecated": true,
                        "description": "Same as image.",
                        "type": "string",
                        "minLength": 1
                      }
                    ],
                    "deprecated": true
                  },
                  "upload_id": {
                    "description": "An image from POST /v1/uploads, to reuse one image.",
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "job_id": {
                    "description": "A finished job of yours: work on its output without downloading it.",
                    "type": "string",
                    "pattern": "^\\d{1,18}$"
                  },
                  "creativity": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4000
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "1:1",
                      "3:2",
                      "4:3",
                      "5:4",
                      "16:9",
                      "21:9",
                      "2:3",
                      "3:4",
                      "4:5",
                      "9:16"
                    ]
                  },
                  "webhook_url": {
                    "description": "A public https:// URL to send this job’s settle event to, signed like every webhook.",
                    "type": "string",
                    "maxLength": 2048,
                    "format": "uri"
                  }
                },
                "required": [
                  "kind"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Started. Poll GET /v1/jobs/{id} for the result.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "credits_charged": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "replayed": {
                          "type": "boolean"
                        },
                        "notes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "credits_charged",
                        "replayed",
                        "notes"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/videos": {
      "post": {
        "operationId": "createVideo",
        "summary": "Animate an image into a short clip: a camera move through or around it. Priced by model and length; accounts that have paid only.",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "description": "The image: a public https:// link, a data:image/…;base64, URI or base64 bytes, or (multipart) the file itself.",
                    "type": "string",
                    "minLength": 1
                  },
                  "image_url": {
                    "deprecated": true,
                    "description": "Same as image.",
                    "type": "string",
                    "minLength": 1
                  },
                  "upload_id": {
                    "description": "An image from POST /v1/uploads, to reuse one image.",
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "job_id": {
                    "description": "A finished job of yours: work on its output without downloading it.",
                    "type": "string",
                    "pattern": "^\\d{1,18}$"
                  },
                  "model": {
                    "type": "string",
                    "maxLength": 40
                  },
                  "duration_seconds": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 60
                  },
                  "camera_movement": {
                    "type": "string",
                    "maxLength": 32
                  },
                  "motion": {
                    "type": "string",
                    "maxLength": 16
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4000
                  },
                  "end_frame": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1
                      },
                      {
                        "type": "object",
                        "properties": {
                          "image": {
                            "description": "The image: a public https:// link, a data:image/…;base64, URI or base64 bytes, or (multipart) the file itself.",
                            "type": "string",
                            "minLength": 1
                          },
                          "image_url": {
                            "deprecated": true,
                            "description": "Same as image.",
                            "type": "string",
                            "minLength": 1
                          },
                          "upload_id": {
                            "description": "An image from POST /v1/uploads, to reuse one image.",
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "job_id": {
                            "description": "A finished job of yours: work on its output without downloading it.",
                            "type": "string",
                            "pattern": "^\\d{1,18}$"
                          }
                        },
                        "additionalProperties": false
                      }
                    ]
                  },
                  "cinematic": {
                    "type": "boolean"
                  },
                  "webhook_url": {
                    "description": "A public https:// URL to send this job’s settle event to, signed like every webhook.",
                    "type": "string",
                    "maxLength": 2048,
                    "format": "uri"
                  }
                },
                "additionalProperties": false
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "binary"
                      },
                      {
                        "description": "The image: a public https:// link, a data:image/…;base64, URI or base64 bytes, or (multipart) the file itself.",
                        "type": "string",
                        "minLength": 1
                      }
                    ]
                  },
                  "image_url": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "binary"
                      },
                      {
                        "deprecated": true,
                        "description": "Same as image.",
                        "type": "string",
                        "minLength": 1
                      }
                    ],
                    "deprecated": true
                  },
                  "upload_id": {
                    "description": "An image from POST /v1/uploads, to reuse one image.",
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "job_id": {
                    "description": "A finished job of yours: work on its output without downloading it.",
                    "type": "string",
                    "pattern": "^\\d{1,18}$"
                  },
                  "model": {
                    "type": "string",
                    "maxLength": 40
                  },
                  "duration_seconds": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 60
                  },
                  "camera_movement": {
                    "type": "string",
                    "maxLength": 32
                  },
                  "motion": {
                    "type": "string",
                    "maxLength": 16
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4000
                  },
                  "end_frame": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "binary"
                      },
                      {
                        "anyOf": [
                          {
                            "type": "string",
                            "minLength": 1
                          },
                          {
                            "type": "object",
                            "properties": {
                              "image": {
                                "description": "The image: a public https:// link, a data:image/…;base64, URI or base64 bytes, or (multipart) the file itself.",
                                "type": "string",
                                "minLength": 1
                              },
                              "image_url": {
                                "deprecated": true,
                                "description": "Same as image.",
                                "type": "string",
                                "minLength": 1
                              },
                              "upload_id": {
                                "description": "An image from POST /v1/uploads, to reuse one image.",
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "job_id": {
                                "description": "A finished job of yours: work on its output without downloading it.",
                                "type": "string",
                                "pattern": "^\\d{1,18}$"
                              }
                            },
                            "additionalProperties": false
                          }
                        ]
                      }
                    ]
                  },
                  "cinematic": {
                    "type": "boolean"
                  },
                  "webhook_url": {
                    "description": "A public https:// URL to send this job’s settle event to, signed like every webhook.",
                    "type": "string",
                    "maxLength": 2048,
                    "format": "uri"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Started. A clip takes minutes; poll GET /v1/jobs/{id} for it.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "credits_charged": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "replayed": {
                          "type": "boolean"
                        },
                        "notes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "credits_charged",
                        "replayed",
                        "notes"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/jobs/{id}": {
      "get": {
        "operationId": "getJob",
        "summary": "Read a job: its status, its outputs as signed links that expire, what it was charged and refunded, and why it failed. A job and its outputs are kept 7 days.",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The job id a create call answered with.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{1,18}$"
            }
          },
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "description": "Hold the answer up to this many seconds (1 to 90) until the job settles; it answers as soon as it does. Call again while status is queued or processing.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 90
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The job.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "queued",
                            "processing",
                            "succeeded",
                            "failed",
                            "canceled"
                          ]
                        },
                        "kind": {
                          "type": "string"
                        },
                        "engine": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "outputs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "media": {
                                "type": "string",
                                "enum": [
                                  "image",
                                  "video"
                                ]
                              },
                              "expires_at": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "url",
                              "media",
                              "expires_at"
                            ]
                          }
                        },
                        "credits_charged": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "credits_refunded": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "error": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "enum": [
                                    "UNSAFE_CONTENT",
                                    "NO_CHANGE",
                                    "CANCELED",
                                    "RENDER_FAILED"
                                  ]
                                },
                                "message": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "code",
                                "message"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "completed_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "kind",
                        "engine",
                        "outputs",
                        "credits_charged",
                        "credits_refunded",
                        "error",
                        "created_at",
                        "completed_at"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
[...]
